body{
    background-color: #27374d;
}
.anakart{
    margin-right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kart{
    margin-top: 100px;
    width: 550px; 
    height:750px; 
    background-color: #9DB2BF;
    color:white; 
    border-radius: 10px; 
    text-align: center; 
    margin-right:75px;
    box-shadow: 10px 10px 10px 15px rgba(0,0,0,0.75);
    justify-content: center;
}
.kart1{
    margin-top: 125px;
    width: 450px; 
    height:600px; 
    background-color: #526d82;
    color:white; 
    border-radius: 10px; 
    text-align: center; 
    margin-right:75px;
    box-shadow: 10px 10px 10px 15px rgba(0,0,0,0.75);
    justify-content: center;
}

